* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   width: 100vw;
   height: 100vh;
   background-color: rgb(235, 39, 234);
   position: relative;
}

.green-header {
   width: 100%;
   height: 100px;
   background-color: #128C7E;
}

.texture-bg {
   width: 100%;
   height: calc(100% - 100px);
   background-color: #ECE5DD;
}

main {
   width: 100%;
   height: 100%;
   margin: 0 auto;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.contacts-ctn {
   display: none;
}


.conversation-ctn {
   display: flex;
   flex-direction: column-reverse;
   /* justify-content: space-between; */
   width: 100%;
   height: 100%;
   position: relative;
   background: url("chat-bg.png");
   background-size: 350px 175px;
}

/* Navigation bars for contacts-ctn and conversation-ctn */
.section-nav {
   display: flex;
   width: 100%;
   height: 45px;
   justify-content: space-between;
   background-color: #EDEDEE;
}

.conversation-ctn .section-nav {
   order: 3;
   position: absolute;
   top: 0;
}
.contact-info {
   height: 100%;
   padding-left: 10px;
}

.conversation-ctn .profile-photo {
   width: 38px;
   height: 38px;
   border-radius: 50%;
}

.utility-icons-ctn {
   height: 100%;
}

.contact-info *, .utility-icons-ctn * {
   float: left;
}

.profile-photo {
   width: 38px;
   height: 38px;
   border-radius: 50%;
}

.contact-info > *, .photo-box > * {
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   margin: 0 5px;
}

i {
   width: 35px;
   text-align: center;
}

.section-nav .fa-lg {
   line-height: 45px;
   font-size: 1em;
   color: rgb(141, 144, 147);
}

/* Conversation box */

.conversation-area {
   display: flex;
   flex-direction: column;
   order: 2;
   width: 100%;
   max-height: calc(100% - 45px - 45px);
   overflow: scroll;
   overflow-y: auto;
   overflow-x: hidden;
}

.input-bar {
   width: 100%;
   height: 45px;
   display: flex;
   order: 1;
   justify-content: space-evenly;
   background-color: rgb(237, 231, 231);
   align-items: center;
}


.emoticon-icon, .send-icon {
   width: 35px;
   height: 35px;
}

.input-bar .fa-lg {
   line-height: 35px;
   font-size: 1.5em;
   color: rgb(141, 144, 147);
}

.rotate {
   transform: rotate(45deg);
}

.input-msg input {
   min-width: 250px;
   height: 35px;
   border: none;
   border-radius: 5px;
   padding: 0 5px;

}


.message-row {
   display: flex;
   flex-direction: column;
   width: 100%;
   min-height: 60px;
   max-height: 200px;
   align-items: stretch;
   margin: 1px 0;
}

.message-box {
   width: 300px;
   margin: 1px 10px;
   padding: 5px 5px;
   border-radius: 5px;
   font-size: 13px;
   line-height: 14px;
   background-color: rgb(184, 48, 118);
}

.msg-sent {
   flex-direction: row-reverse;
}

.msg-sent * {
   background-color: #DCF8C6;
}

.msg-received * {
   background-color: #FFFFFF;
}


/* Scrollbar style */
/* width */
.conversations-list::-webkit-scrollbar, .conversation-area::-webkit-scrollbar {
   width: 8px;
}
/* track */
.conversations-list::-webkit-scrollbar-track, .conversation-area::-webkit-scrollbar-track {
   background: #FFFFFF;

}
/* Handle */
.conversations-list::-webkit-scrollbar-thumb, .conversation-area::-webkit-scrollbar-thumb {
   background: #d6d6e3;
}

.conversations-list::-webkit-scrollbar-track-piece, .conversation-area::-webkit-scrollbar-track-piece {
   height: 50px;
}
/* Handle on hover */
#players-list::-webkit-scrollbar-thumb:hover {
   background: rgba(19, 53, 198, 1);
}


/*************************/
/* *** MEDIA QUERIES *** */
/*************************/


@media screen and (min-width : 568px) {

   .input-msg input {
      min-width: 490px;
      align-self: stretch;
      height: 35px;
      border: none;
      border-radius: 5px;
   }
}


@media screen and (min-width : 968px) {

   main {
      width: 75%;
      height: 90%;
   }

   .contacts-ctn {
      display: block;
      /* flex-direction: column; */
      width: 30%;
      height: 100%;
      float: left;
   }

   .conversation-ctn {
      width: 70%;
      float: left;
   }

   /* Contacts search-bar */
   .search-bar {
      width: 100%;
      height: 50px;
      padding: 12px 0;
      background-color: rgb(237, 231, 231);
   }

   #contacts-filter {
      display: block;
      width: 95%;
      height: 24px;
      margin: 0 auto;
   }

   #contacts-filter .fa-search {
      float: left;
      font-weight: 100;
      color: rgb(184, 189, 200);
   }

   #contacts-search {
      float: left;
      height: 100%;
      width: 80%;
      padding: 0 5px;
      border: none;
      border-radius: 5px;
      background-color: rgb(255, 255, 255);
      color: rgb(184, 189, 200);

   }

   #contacts-search::-webkit-input-placeholrgb(237, 231, 231)der { /* Chrome/Opera/Safari */
      color: rgb(181, 187, 187);
   }

   /* Last conversations list */
   .conversations-list {
      width: 100%;
      height: calc(100% - 95px);
      overflow: scroll;
      overflow-x:hidden;
   }

   .conversation-preview {
      display: flex;
      width: 100%;
      height: 60px;
      background-color: #FFF;
   }

   .photo-box {
      height: 100%;
      width: 60px;
      text-align: center;
   }

   .preview {
      display: flex;
      width: 100%;
      padding: 10px 5px;
      justify-content: space-between;
   }

   .preview{
      border-bottom: 0.01em solid rgb(227, 224, 224);
   }

   .conversation-preview .photo-box .profile-photo {
      width: 45px;
      height: 45px;
   }

   .msg-preview {
      height: 75%;
      width: 70px;
   }

   .chat-with {
      font-size: 15px;
   }

   .last-msg {
      font-size: 15px;
      color: rgb(168, 156, 156);
   }

   .chat-with, .last-msg {
      display: block;
      margin: 2px 0;
   }

   .info-msg-preview {
      float: right;
   }

   .time-last-msg {
      transform: translateY(-70%);
      color: rgb(168, 156, 156);
      font-size: 13px;
   }



   .input-msg input {
      width: 550px;
      height: 35px;
      border: none;
      border-radius: 5px;
   }



}
